---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Keyless Car"
	description="Group 3's CSC375 Project"
	pubDate={new Date('October 10 2023')}
	heroImage="/Keyless_Car_beigeBG.jpeg"
>

	<p>
		To reduce the number of objects you carry everyday we plan to 
		add the remote unlock feature of many keyfobs to your phone or Apple watch. 
		This will be done trough an app and an easy to install kit that can be given to autoshops.
	</p>

	<h3>Group Members</h3>

	<ul>
		<li> Julian Wright - V00971870 (Analyst)</li>
		<li> Jack Dewey - V00972159 (Analyst)</li>
		<li> Long Le - V00943754 (Analyst)</li>
		<li> Yue Zhang - V01014347 (Client)</li>
		<li> Shaik Mohammed - V00927024 (Client)</li>
		<li> Nima Mohajeri - V00857216 (Client)</li>
	</ul>
</Layout>
